/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito');
  

  
/* Bootstrap */
@import '~bootstrap/scss/bootstrap';

.tit-edit{
    text-align:center;
    color:rgb(41, 16, 198);
}

.tab1{
    border:solid 1px rgb(149, 146, 144);
    margin:auto;
}
.tit-lista{
    text-align:center;
    color:rgb(31, 10, 166);
}

.tit-add{
    text-align:center;
    color:rgb(9, 9, 87);
}

.head{
    border:solid 1px #ccc;
    
    td{
        border: solid 1px #000;
        font-weight:700;
        background:#ccc;
    }
}

.b-add{
    margin-left:20%;
    margin-top:10px;
}

/*colonne dati tabella lista */
.colo-list {
    border-bottom:solid 1px #aaa;
    td{
  padding:3px;
  border-left: solid 1px #ccc;
}
}